<!DOCTYPE html>
<html lang="en">
<head>
  <title>Header Partial</title>
</head>
<body>
    <form method="POST" name="username" action="/login">
      <button type="Submit" method="POST">Submit</button>
    </form>
</body>
</html>