<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <form method="POST" action="/login">
    <input type="text" name="username" />
    <button type="submit" method="POST">Login</button>
    <br />
    <br />
    <label for="email">Email:</label>
    <input type="email" name="email" style="width: 300px">
    <br/>
    <label for="email">Password:</label>
    <input type="password" name="password" style="width: 300px">
    <br />
  </form>
</body>
</html>