<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <% include ./partial/_header.ejs %>
    <li><a href='#'><%= shortURL %></a> - <%= urls[shortURL] %></li>
</body>
</html>