<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <% include ./partial/_header.ejs %>
    <h2>ShortURL: <%= shortURL %></h2>
    <form method="POST" action="/urls/<%= shortURL %>/update">
      <input type="text" value="<%= longURL %>" />
      <button type="Submit" method="POST">Update</button>
    </form>
</body>
</html>